body {
  background-color: white;
}

.navbar ul {
  position: fixed;
  top: 0;
  width: 100%;
}

#conservation {
  border: 2px solid white;
  border-color: white;
  border-radius: 15px;
}

#conservation:hover {
  color: white;
}

.gorillacons {
  color:white;
  font-size: 4em;
  z-index: 1;
  text-align: center;
  margin-top: -24%;
  text-shadow: 2px 2px 4px black;
}

#number {
  font-size: 1.8em;
  margin: -2.5%;
  font-style: italic;
}

#arrow {
  color: white;
  font-size: 3em;
  text-align: center;
  margin-top: 10%;
}

#gorillapic {
  width: 100%;
  margin-top: 5%;
}

.bold {
  font-weight: bold;
}

#organizations {
  margin-top: 7%;
}

.org {
  padding: 25px;
}

#uwapic {
  width: 12%;
}

#wwfpic {
  width: 14%;
}

.pic {
  margin-top: 3%;
  text-align: center;
}

.desc {
  color: black;
  font-size: 1.1em;
  margin-top: -55%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
  text-align: center;
}

#wwf {
  background-color: black;
}

#wwf-description {
  color: white;
}

.org-desc {
  margin-top: 59%;
}

#wcspic {
  width: 13%;
}

#wcs {
  background-color: black;
}

#wcs-description {
  color: white;
}

#igcppic {
  width: 21%;
}

.header {
  font-weight: bold;
  font-size: 1.3em;
}

.link {
  text-align: center;
  margin-left: 35%;
  margin-right: 35%;
  font-size: 1.2em;
  padding: 7px;
  border-radius: 10px;
  margin-bottom: 3%;
}

.link a {
  color: green;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}



.link a:hover {
  color: #00b300;
}

@media screen and (max-width: 1578px) {
  .gorillacons {
    font-size: 2.5em;
  }
  
  #number {
    font-size: 1.5em;
  }
  
  #arrow {
    font-size: 2em;
  }
}

@media screen and (max-width: 1144px) {
  .link {
    font-size: .9em;
  }
}
