body {
  background: url("gorilla-face.jpg") no-repeat center center fixed;
  background-position: left;
}

#donatelink {
  border: 2px solid white;
  border-color: white;
  border-radius: 15px;
}

#donatelink:hover {
  color:white;
}

#donatelogo {
  color: black;
  font-size: 35px;
  z-index: 1;
  text-align: center;
  font-weight: bold;
}

.donation_item {
  display: inline;
  position: relative;
  padding: 10px;
}

input[name="donationitem"] {
  margin-top: 10%;
}

#donations {
  margin-left: 3%;
  margin-top: -10%;
}

.container {
  font-size: 20px;
  margin-right: 3%;
}

div.form {
  display: block;
  text-align: center;
}

form {
  width: 600px;
  display: inline-block; 
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  margin-bottom: 100px;
  text-align: left;
  background-color: white;
  opacity: 0.8;
  border-radius: 10px;
}

#donate {
  background-color: #333333;
}

input[name="customamount"] {
  border-style: solid;
  border-color: black;
  border-width: 1.5px;
  border-radius: 5px;
  font-size: 20px;
  font-family: century gothic;
  padding: 5px;
}

.title {
  font-size: 20px;
  margin-left: 4%;
}

#donationdesc {
  padding-bottom: 20px;
  border-bottom: 1.5px solid black;
}

#organization {
  font-size: 20px;
  padding-bottom: 20px;
  border-bottom: 1.5px solid black;
  margin-top: 5%;
}

#org {
  margin-left: 4%;
  margin-bottom: 1%;
}

#orgmenu {
  margin-left: 4%;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  border-width: 1.5px;
  font-size: 15px;
}

.row {
  margin-left: 4%;
  font-size: 20px;
}

.column {
  display: inline-block;
}

.item {
  font-size: 17px;
}

#contact {
  margin-left: 4%;
}

input[name="paymentitem"], input[name="contactitem"]{
  display: block;
  margin-bottom: 10px;
}

.input {
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  border-width: 1.5px;
  padding: 8px;
  margin-right: 75px;
  width: 170px;
}

#contactinfo {
  border-bottom: 1.5px solid black;
  padding-bottom: 20px;
}

#donatebutton {
  text-align: center;
  padding-top: 15%;
  padding-bottom: 10%;
}

#donatebutton a {
  color: white; 
  text-decoration: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-size: 25px;
  padding: 10px;
  padding-left: 4%;
  padding-right: 4%;
  text-align: center; 
}

@media screen and (max-width: 1440px) {
  body {
    background-position: 25%;
  }
}