body {
  font-family: Helvetica;
  margin: 0;
  background-image: url("black-fur.jpg");
}

#logo a {
  color: white;
  font-size: 40px;
  text-align: center;
}

.nav {
  padding-top: 10px;
  padding-right: 75px;
  float: right;
}

.navbar {
  background-color: black;
  min-width: 100%;
}

.navbar ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 50px;
}

.navbar li {
  list-style-type: none;
  display: inline;
  padding: 10px;
  font-size: 20px;
}

.navitem  a{
  text-decoration: none;
  color: white;
  padding: 5px;
  position: relative;
}

@media all and (max-width: 900px) {
    .nav { display: none; }
}

.navitem > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.35s ease-in-out 0s;
}

.navitem > a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.navitem > a:hover {
  background-color: green;
}


.slideshow-container {
  max-width: 100%;
  position: relative;
}

.gorillaSlides img {
  width: 100%;
}
