body {
  background-image: url("forest.jpg");
  background-position: center;
}

#subscribed-box {
  background-color: rgb(255, 255, 255, 0.8);
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  padding: 4%;
  text-align: center;
  border-radius: 10px;
}

img {
  border-radius: 50%;
}
h2 {
  margin-bottom: 4em;
}

#back {
  background-color: black;
  color: white;
  padding: 1em;
  border-radius: 5px;
  text-decoration: none;
  padding-left: 4rem;
  padding-right: 4rem;
  font-size: 1rem;
}